.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 12px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #FF136F;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}

.cat1{
    background-image: linear-gradient(to left, orange 0%, yellow 100% );
}

.cat2{
    background-image: linear-gradient(to right, purple 0%, pink 100%);
}

.cat3{
    background-image: linear-gradient(to left, blue 0%, skyblue 100%);
}

.catagories h1{
    color: #fff;

}

.catagories img{
    width: 100px;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 6px 6px 12px gray;
}

.card-footer{
    background-color: #fff;
    border-top: none;
}

#contact{
    height: 300px;
}

#contact h6{
    color: gray;
}

footer{
    text-align: center;
    color: gray;
}